# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Env files
.env.local
.env

# Editor and IDE files
.vscode/
.idea/
*.sublime-*

# Logs and temporary files
*.log
tmp/
temp/

# Git
.git
