# MongoDB connection
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net
DATABASE_NAME=your_database_name_here

# Vector Search
VECTOR_INDEX_NAME=you:product_vector_index_name_here
EMBEDDING_FIELD=you_embedding_field_here
