# MongoDB connection https://www.mongodb.com/docs/atlas/tutorial/connect-to-your-cluster/
MONGODB_URI=
DATABASE_NAME=your_database_name_here

# Vector Search
VECTOR_INDEX_NAME=you:product_vector_index_name_here
EMBEDDING_FIELD=you_embedding_field_here
